<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/svg+xml" href="/vite.svg" />
    <title>Password Reset</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!------ Include the above in your HEAD tag ---------->
    <!-- <link rel="stylesheet" href="css/style.css" /> -->

    <style>
        .pass_show {
            position: relative
        }

        .pass_show .ptxt {
            position: absolute;
            top: 50%;
            right: 10px;
            z-index: 1;
            color: #f36c01;
            cursor: pointer;
            transition: .3s ease all;
        }

        .pass_show .ptxt:hover {
            color: #333333;
        }
    </style>
    <script type="text/javascript">

        $(document).ready(function () {
            function getQueryParams(qs) {
                qs = qs.split('+').join(' ');

                let params = {},
                    tokens,
                    re = /[?&]?([^=]+)=([^&]*)/g;

                while (tokens = re.exec(qs)) {
                    params[decodeURIComponent(tokens[1])] = decodeURIComponent(tokens[2]);
                }

                return params;
            }
            $('.pass_show').append('<span class="ptxt my-auto">Show</span>');
            const query = getQueryParams(document.location.search);
            $('input#token').val(query.token)
        });

        $(document).on('click', '.pass_show .ptxt', function () {
            $(this).text($(this).text() == "Show" ? "Hide" : "Show");
            $(this).prev().attr('type', function (index, attr) { return attr == 'password' ? 'text' : 'password'); });
        });

    </script>
</head>

<body>

    <section class="vh-100" style="background-color: rgb(154, 97, 109);">
        <div class="container py-5 h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col col-xl-10">
                    <div class="card" style="border-radius: 1rem;">
                        <div class="row g-0">
                            <div class="col-md-6 col-lg-7 d-flex align-items-center">
                                <div class="card-body p-4 p-lg-5 text-black">
                                    <form action="" method="post">
                                        <div class="d-flex align-items-center mb-3 pb-1"><i
                                                class="fas fa-cubes fa-2x me-3" style="color: rgb(255, 98, 25);"></i>
                                            <span class="h1 fw-bold mb-0">Logo</span>
                                        </div>
                                        <h5 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;">Change your
                                            password</h5>
                                        <div class="form-outline mb-4 pass_show">
                                            <label class="form-label" for="new-pass">New Password</label>
                                            <input type="password" id="new-pass" name="newPassword"
                                                class="form-control form-control-lg">
                                        </div>
                                        <div class="form-outline mb-4 pass_show">
                                            <label class="form-label" for="confirm-pass">Confirm Password</label>
                                            <input type="password" name="confirmPassword" id="confirm-pass"
                                                class="form-control form-control-lg">
                                        </div>
                                        <div class="pt-1 mb-4">
                                            <input type="hidden" id="token" name="token" />
                                            <button class="btn btn-dark btn-lg btn-block" type="submit">Change</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-5 d-none d-md-block">
                                <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/img1.webp"
                                    alt="login form" class="img-fluid" style="border-radius: 1rem 0px 0px 1rem;">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

</body>

</html>